<article class="page collection">
  <header class="page__header">
    <h1 class="page__title">Editing <%= @collection %></h1>
  </header>
  <div class="page__content">
    <section class="admin-form">
      <%= render 'form' %>
    </section>
    <%= content_tag :section, "", id: "manageItems", class: "manage-items",
                    data: {
                      updateUrl: collection_update_images_path(collection_id: @collection.id),
                      collectionId: @collection.id,
                      imagesUrl: collection_images_path(collection_id: @collection.id, format: :json),
                    } %>
  </section>
</article>
