{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "new-cap": 0,
    "no-debugger": 0,
    "strict": [2, "never"],
    "quotes": [2, "single"]
  },
  "globals": {
    "FIREBASE": true
  }
}
